<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="login.css">
    <title>관리자 로그인</title>
</head>
<body>
<div class="box-outer">
    <div class="box-login">
        <img src="admin.svg" class="img-logo">
        <form action="/login" method="post">
            <table>
                <tr>
                    <td><label><input type="text" name="username" class="input-input" placeholder="ID"></label></td>
                </tr>
                <tr>
                    <td><label><input type="password" name="password" class="input-input" placeholder="PASSWORD"></label></td>
                </tr>
                <tr>
                    <td><input type="submit" value="로그인" class="input-button"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>